{% extends "base_auth.html.twig" %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de toutes les interventions</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        .action-icons {
            display: flex;
            align-items: center;
        }

        .action-icons img {
            margin-right: 5px; /* Espacement entre les icônes */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Liste des Interventions</h2>
        <table class="interventions-table">
            <thead>
                <tr>
                    <th class="id-intervention">ID Intervention</th>
                    <th class="nom-client">Nom du Client</th>
                    <th class="statut-intervention">Statut de l'intervention</th>
                    <th class="degre-intervention">Degré de l'intervention</th>
                    <th class="description-intervention">Description de l'intervention</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions %}
                <tr>
                    <td>{{ intervention.id_intervention }}</td>
                    <td>{{ intervention.nom_client }} {{ intervention.prenom_client }}</td>
                    <td>{{ intervention.nom_statut }}</td>
                    <td>{{ intervention.nom_degre }}</td>
                    <td>{{ intervention.description_intervention }}</td>
                    <td class="action-icons">
                        <a href="javascript:void(0);" onclick="confirmDelete('{{ intervention.id_intervention }}')"><img src="../img/delete.png" alt="Supprimer" style="width: 24px; height: 24px;"></a>
                        <a href="updateIntervention.php?id={{ intervention.id_intervention }}"><img src="../img/update.png" alt="Modifier" style="width: 24px; height: 24px;"></a>
                        <a href="addCommentaire.php?id={{ intervention.id_intervention }}"><img src="../img/commentaire.png" alt="Ajouter un commentaire" style="width: 24px; height: 24px;"></a>
                        <a href="infosInterventionStandariste.php?id={{ intervention.id_intervention }}"><img src="../img/vue.png" alt="Voir l'intervention" style="width: 24px; height: 24px;"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function confirmDelete(interventionId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer cette intervention ?")) {
                window.location.href = "deleteIntervention.php?id=" + interventionId;
            }
        }
    </script>
</body>
</html>
{% endblock %}