<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de toutes les interventions </title>
  <head>
    <link rel="stylesheet" href="../css/styles.css">
</head>
</head>
<body>

<h2>Liste des Interventions</h2>

<table>
    <thead>
        <tr>
            <th>ID Intervention</th>
            <th>Nom du Client</th>
            <th>Statut de l'intervention</th>
            <th>Degré de l'intervention</th>
            <th>Description de l'intervention</th>
        </tr>
    </thead>
    <tbody>
       <tbody>
  <tbody>
    {% for intervention in interventions %}
    <tr>
        <td>{{ intervention.id_intervention }}</td>
        <td>{{ intervention.nom_client }} {{ intervention.prenom_client }}</td>
        <td>{{ intervention.nom_statut }}</td>
        <td>{{ intervention.nom_degre }}</td>
        <td>{{ intervention.description_intervention }}</td>
    </tr>
    {% endfor %}
</tbody>


</tbody>

    </tbody>
</table>

</body>
</html>
