{% extends "base_auth.html.twig" %}

{% block body %}
<div class="container">
    <h2 class="title">Liste des Interventions</h2>
    <a href="addIntervention.php" class="button"> + Ajouter une nouvelle intervention</a>
    <a href="interventionStandaristes.php" class="button">Voir mes propres interventions</a>

    <table class="interventions-table">
        <thead>
            <tr>
                <th class="id-intervention">ID Intervention</th>
                <th class="nom-client">Nom du Client</th>
                <th class="statut-intervention">Statut de l'intervention</th>
                <th class="degre-intervention">Degré de l'intervention</th>
                <th class="description-intervention">Description de l'intervention</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id_intervention }}</td>
                <td>{{ intervention.nom_client }} {{ intervention.prenom_client }}</td>
                <td>{{ intervention.nom_statut }}</td>
                <td>{{ intervention.nom_degre }}</td>
                <td>{{ intervention.description_intervention }}</td>
               <td><a href="addCommentaire.php?id={{ intervention.id_intervention }}"><img src="../img/commentaire.png" alt="Ajouter un commentaire" style="width: 24px; height: 24px;" ></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
