{% extends 'base_auth.html.twig' %}

{% block title %}Accueil-Client{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Interventions en cours</h1>
        <table class="interventions-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Intervenant</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Degré</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions %}
                    <tr>
                        <td>{{ intervention.description }}</td>
                        <td>{{ intervention.nom_intervenant }} {{ intervention.prenom_intervenant }}</td>
                        <td>{{ intervention.date }}</td>
                        <td>{{ intervention.nom_statut }}</td>
                        <td>{{ intervention.nom_degre }}</td>
                        <td>
                            <a href="addEdit.php?id={{ intervention.id_intervention }}"><i class="bi bi-eye-fill"></i></a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
