{% extends "base_auth.html.twig" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<h1>Liste de tous les users</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Tel</th>
            <!-- Ajoutez plus de balises th pour chaque colonne supplémentaire -->
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.email}}</td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.adresse}}</td>
                <td>{{client.tel}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}