<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de toutes les interventions </title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<h2>Liste des Interventions</h2>

<table>
    <thead>
        <tr>
            <th>ID Intervention</th>
            <th>Nom du Client</th>
            <th>Statut de l'intervention</th>
            <th>Degré de l'intervention</th>
            <th>Description de l'intervention</th>
            <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
    </thead>
    <tbody>
        {% for intervention in interventions %}
        <tr>
            <td>{{ intervention.id_intervention }}</td>
            <td>{{ intervention.nom_client }} {{ intervention.prenom_client }}</td>
            <td>{{ intervention.nom_statut }}</td>
            <td>{{ intervention.nom_degre }}</td>
            <td>{{ intervention.description_intervention }}</td>
           <td><a href="addCommentaire.php?id={{ intervention.id_intervention }}">Ajouter un commentaire</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
